body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.main-container {
    height: 40vh;
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: lightblue;
}

.main-container h1 {
    text-align: center;
    color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
