body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.wrap {
    height: 40vh;
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: rgb(36, 99, 216);
}
.image {
    height: 25vh;
    width: 20%;
    position: fixed;
    left: 22%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: white;
}
.icon_1 {
    padding: 80px 60px 80px 60px;
    position: fixed;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color:lightblue;
    font-size: 20px;
    text-align: center;
}
.icon_2 {
    padding: 80px 60px 80px 60px;
    position: fixed;
    left: 56%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: lightblue;
    font-size: 20px;
    text-align: center;
}
.icon_3 {
    padding: 80px 60px 80px 60px;
    position: fixed;
    left: 69%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: lightblue;
    font-size: 20px;
    text-align: center;
}
.icon_4 {
    padding: 80px 60px 80px 60px;
    position: fixed;
    left: 82%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: lightblue;
    font-size: 20px;
    text-align: center;
}